<!-- Navbar -->
<nav class="navbar">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand " href="https://mdbgo.com/"> </a>

      <!-- Collapsible wrapper -->
      <div class="collapse">
        <!-- Left links -->
        <ul>
          <li>
            <a class="dashboard" href="#">Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="">
            <a routerLink="/" routerLinkActive="active">Home</a>
        </div>
        <div class="">
            <a routerLink="/login" routerLinkActive="active">Login</a>
        </div>

      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
