<div class="login-container">
  <div class="login-card">
    <h2 class="login-title">User Login</h2>

    <div class="avatar">
      <img src="avatar.png" alt="User Avatar" />
    </div>

    <form (submit)="onSubmit($event)">
      <div class="input-group" [class.has-error]="shouldShowUsernameError()">
        <label for="username">Username</label>

        <input
          id="username"
          type="text"
          placeholder="Username"
          [formField]="loginForm.username"
        />

        @if (shouldShowUsernameError()) {
          <div class="field-error">
            @for (error of loginForm.username().errors(); track error) {
              <p>{{ error.message }}</p>
            }
          </div>
        }
      </div>

      <div class="input-group" [class.has-error]="shouldShowPasswordError()">
        <label for="password">Password</label>

        <input
          id="password"
          type="password"
          placeholder="Password"
          [formField]="loginForm.password"
        />

        @if (shouldShowPasswordError()) {
          <div class="field-error">
            @for (error of loginForm.password().errors(); track error) {
              <p>{{ error.message }}</p>
            }
          </div>
        }
      </div>

      <div class="input-group remember-me">
        <input type="checkbox" id="rememberMe" />
        <label for="rememberMe">Remember me</label>
      </div>

      <div class="input-group forgot-password">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>

      <button type="submit" class="login-button" [disabled]="isSubmitting()">
        @if (isSubmitting()) {
          Đang đăng nhập...
        } @else {
          Log In
        }
      </button>

      @if (isLoginFailed()) {
        <div class="error-message">
          {{ errorMessage() }}
        </div>
      }
    </form>
  </div>
</div>
